<!DOCTYPE html>
<html>
<head>
    <title>🤖 Chetanay AI chatbot</title>
</head>
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
<body>
    <div class="container">
    <header>
     <h1>🤖Chetanay AI</h1>
     <P>Your Personal Assistant</P>
     <a href="/logout" class="logout-btn">Logout</a>
    </header>
    <main class="chatarea">
    <div class="bot-message">
        {{response}}
    </div>
    </main>
    <footer>
    <form method= "post">
        <input type ="text"
        name ="message"
        placeholder="ask me anything">
        <button type = "submit">send</button>
    </form>
    </footer>
    </div>
</body>
</html>